#party{background-color:blue;height:753px; position: fixed; top: 0;}
.pil {color:white;font-family:montserrat,Sans-serif;font-weight:800;font-size:54px;text-align:center;padding-top:50px;}
.board a{color:white;padding-left:70px;font-size:30px;margin-top:-30px;line-height:80px;}
.board a:hover{color:skyblue;}
.panelss{background-color:skyblue;margin-left: 380px; height: auto;}
.secure{height: 753px;}
.two{color:white; font-size:50px;font-family: michroma,Sans-serif;font-weight:bold;text-align:center;padding-top:50px;}
#kattti {padding:30px 80px 0px 200px;height:500px; width:940px;border-radius: 50%;margin-bottom: 57px;}

.profile-pre{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.info{
    padding-left: 30px;
    padding-bottom: 14px;
    font-weight: bold;
}
.name{
    padding-left: 30px;
}
.profile-pre i{
    float: right;
   padding-right: 20px;
    margin-top: -3.0rem;
    font-size: 1.7rem;
    color: gray;
}